<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>eyePause 2 👀</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body class="dark">
    <div class="meter"></div>
    <h1 class="timer">00:00:00</h1>
    <label class="switch">
      <input type="checkbox" checked id="toggler" />
      <span class="slider round"></span>
    </label>
    <span class="settings">Settings</span>
    <img class="restart" src="../assets/restart.svg" alt="">
    <script src="../js/main.js"></script>
  </body>
</html>
