body {
  padding: 1rem 1.5rem;
  display: inline-block;
}

h1 {
  font-size: 2rem;
}

input[type=number] {
  width: 4rem;
  font-size: 2.25rem;
  font-family: "Work Sans";
  padding: 0;
  margin: 0;
  border: 1px solid rgba(156, 156, 156, 0.2);
  border-radius: 4px;
  color: #379392;
  text-align: center;
}

button {
  position: absolute;
  border: 1px solid #379392;
  border-radius: 5px;
  color: #379392;
  font-size: 1.75rem;
  font-family: "Work Sans";
  right: 2.5%;
  bottom: 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}